h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Noto Sans KR" sans-serif;
}


a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: rgb(217, 144, 0);
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    background: #132748;
    color: #fff;
    border-bottom: solid 1px #d99000;

    .site {
        display: flex;
        justify-content: space-between;

        h1 {
            width: 50px;
            height: 50px;
            background: url(../img/logo-ub-branco.png) no-repeat;
            background-size: 100% 100%;
            text-indent: -9999px;
            margin: 12px 0;
        }

        div {
            margin: 15px;
            width: 80%;

            nav ul {
                color: #132748;
                display: flex;
                justify-content: space-between;
                height: 55px;
                font-size: 20px;

                li {
                    margin: auto;
                }
            }
        }
    }
}

main {
    margin-top: 80px;
}

footer {
    .footer-line-1 {
        background: #132748;
        color: #ffffff;
        display: flex;
        height: 400px;

        .site {
            margin-top: 25px;
            height: 350px;

            .box1 {
                width: 400px;
                float: left;

                .logo-ub-footer {
                    width: 250px;
                    height: 250px;
                    background: url(../img/logo-ub-branco.png) no-repeat;
                    background-size: 100% 100%;
                    text-indent: -9999px;
                }

                h3 {
                    font-size: 50px;
                    font-weight: 600;
                }
            }

            .box2 {
                width: 750px;
                height: 240px;
                margin-top: 25px;
                float: right;
                display: flex;
                justify-content: space-around;

                div {
                    width: 190px;
                    margin-left: 5px;

                    ul {
                        h5 {
                            font-size: 20px;
                        }

                        li {
                            margin-top: 10px;

                            a {
                                font-size: 15px;
                            }
                        }
                    }

                }
            }

            .mec {
                width: 180px;
                flex-direction: row;
                margin-top: 230px;

                h4 {
                    font-size: 18px;
                }


            }

        }
    }

    .footer-line-2 {
        background: #fff;
        color: #132748;
        display: flex;
        justify-content: center;
        padding: 40px 0;

        .site {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 1200px;

            details {
                cursor: pointer;
            }

            .line1,
            .line2 {
                display: flex;
                justify-content: space-around;
                width: 100%;
                margin: 20px 0;

                div {
                    width: 185px;
                    margin: 0 10px;


                    ul {
                        h5 {
                            font-size: 20px;
                        }

                        li {
                            font-size: 18px;
                            margin-top: 10px;

                            a {
                                color: #d99000;
                            }
                        }

                        li:hover,
                        a:hover {
                            color: #132748;
                        }
                    }

                }
            }
        }
    }


    .footer-line-3 {
        background: #132748;
        height: 200px;

        .site {
            display: flex;
            flex-wrap: wrap;

            .box1 {
                width: 200px;

                h5 {
                    background: url(../img/logo-ub-branco.png) no-repeat center center;
                    background-size: cover;
                    width: 100px;
                    height: 100px;
                    margin: 25px;
                }

                h6 {
                    width: 150px;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                }
            }

            .box2 {
                text-align: center;

                width: 700px;
                height: 170px;

                ul {
                    width: 700px;
                    display: flex;
                    justify-content: space-around;

                    li {
                        display: flex;
                        width: 50px;
                        height: 50px;
                        padding: 65px 0;

                        a {
                            min-width: 60px;
                            min-height: 60px;
                        }


                        .instagram {
                            background-image: url(../img/instagram.png);
                            background-size: cover;
                        }

                        .facebook {
                            background-image: url(../img/facebook.png);
                        }

                        .whatsapp {
                            background-image: url(../img/whatsapp.png);
                        }

                        .youtube {
                            background-image: url(../img/youtube.png);
                        }

                        li:hover,
                        a:hover {
                            min-width: 70px;
                            min-height: 70px;
                        }

                        .instagram:hover {
                            background-image: url(../img/instagramd.png) no-repeat;
                        }


                        .facebook:hover {
                            background-image: url(../img/facebookd.png)no-repeat;
                        }

                        .whatsapp:hover {
                            background-image: url(../img/whatsappd.png)no-repeat;
                        }

                        .youtube:hover {
                            background-image: url(../img/youtubed.png)no-repeat;
                        }

                    }
                }


            }

            .box3 {
                width: 300px;
                justify-content: space-between;
                padding-top: 25px;

                div {
                    padding-left: 20px;

                    img {
                        padding-top: 10px;
                        max-width: 200px;
                        max-height: 100px;
                    }
                }
            }

            small {
                color: #fff;
                font-size: 10px;
                font-weight: 500;
                width: 100%;
                text-align: center;
                margin-top: 20px;
            }

        }
    }
}


@media (max-width:1024px) {


    header {
        width: 100%;

        & .site {

            h1 {
                margin: 12px auto;
            }

            & div {
                & nav ul {
                    li {
                        margin: auto;

                        a {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }


    footer {

        .footer-line-1 {
            .site {
                .box2 {
                    width: 610px;
                    height: 235px;
                }

                .mec {
                    margin-left: 835px;

                    h4 {
                        font-size: 18px;
                        font-weight: bolder;
                    }
                }
            }
        }



        .footer-line-3 {
            height: 201px;

            .site {
                .box1 {
                    h6 {
                        margin-left: 12px;
                    }
                }

                .box2 {
                    width: 500px;

                    ul {
                        width: 495px;
                    }
                }

                .box3 {
                    width: 300px;
                    padding-top: 25px;
                }
            }
        }
    }
}






@media (max-width:768px) {

    header {
        max-width: 768px;
    }

    main {
        .curso {
            padding: 40px 0;

            &article {
                #box2 {
                    div {
                        p {
                            font-size: 20px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    footer {
        & .footer-line-1 {
            height: 367px;

            & .site {
                & .box1 {
                    width: 100px;

                    .logo-ub-footer {
                        width: 150px;
                        height: 150px;

                    }

                    h3 {
                        font-size: 25px;
                    }
                }

                & .box2 {
                    width: 530px;
                    height: 150px;

                    div {
                        ul {
                            h5 {
                                font-size: 18px;
                            }

                            li {
                                margin-top: 10px;
                            }
                        }
                    }
                }

                .mec {
                    width: 150px;
                    margin-top: 200px;
                    margin-left: 190px;

                    h4 {
                        font-size: 18px;
                        font-weight: bolder;
                    }
                }




            }





        }


        .footer-line-3 {
            align-items: center;

            .site {
                .box2 {
                    width: 300px;

                    ul {
                        width: 280px;
                    }
                }

                .box3 {
                    width: 260px;

                    a {
                        font-size: 15px;
                    }

                    img {
                        width: 90px;
                    }
                }
            }
        }

        small {
            color: #fff;
            font-size: 10px;
            font-weight: 500;
        }
    }
}


@media (min-width:481px) {

    .abrirMenu,
    .fecharMenu {

        display: none;
    }

}

@media (max-width: 480px) {
    .menuAtivo {
        header {
            max-width: 100%;

            .site {
                width: 100%;
                max-width: 100%;
                padding: 0 20px;

                h1 {
                    margin: 12px auto;
                }

                div {
                    .abrirMenu {
                        background: url(../img/menu-bar.png) no-repeat;
                        width: 50px;
                        height: 50px;
                        background-size: cover;
                        position: fixed;
                        z-index: 10000;
                    }

                    nav ul {

                        flex-direction: column;
                        position: fixed;
                        right: 0;
                        top: 0;
                        background: #d99000;
                        width: 18%;
                        max-width: 240px;

                        z-index: 9999;


                        .fecharMenu {
                            background: url(../img/close.png) no-repeat;
                            width: 40px;
                            height: 40px;
                            background-size: cover;
                            border: none;
                            align-self: flex-end;
                            margin-bottom: 10px;
                        }

                        li {
                            margin: 10px auto;

                            a {
                                font-size: 18px;
                                color: #f3f3f3;
                                text-decoration: none;
                            }
                        }
                    }
                }



            }
        }
    }



    footer {
        .footer-line-1 {
            height: 350px;
            flex-direction: column;
            height: auto;

            .site {
                height:auto;
                display: flex;
                flex-direction: column;
                

                .box1 {
                    .logo-ub-footer {
                        width: 90px;
                        height: 90px;
                    }

                    h3 {
                        font-size: 15px;
                        margin-left: 10px;
                    }
                }

                .box2 {
                    width: 300px;
                    height: 150px;

                    & div {
                        & ul {
                            h5 {
                                font-size: 10px;
                                font-weight: 800;
                            }

                            li {
                                
                                font-weight: 600;
                                a{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }

                .mec {
                    display: none;
                    
                }
            }
        }


        .footer-line-2 {
            padding: 10px 0;

            .site {

                .line1,
                .line2 {
                    div {
                        ul {
                            margin-bottom: 10px;
                            h5 {
                                font-size: 14px;
                                font-weight: 800;
                            }

                            li {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }

        .footer-line-3 {
            background: #132748;
            height: auto;
            padding: 1px 0;

            .site {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                .box1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h5 {
                        background: url(../img/logo-ub-branco.png) no-repeat center center;
                        background-size: cover;
                        width: 100px;
                        height: 100px;
                        margin: 10px 0;
                    }

                    h6 {
                        width: 150px;
                        color: #fff;
                        font-size: 15px;
                        font-weight: 500;
                        text-align: center;
                    }
                }

                .box2 {
                    width: auto;
                    text-align: center;
                    height: 80px;
                    margin-bottom: 10px;
                    

                    ul {
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        width: 260px;

                        li {
                            display: flex;
                            width: 50px;
                            height: 50px;

                            .instagram,
                            .facebook,
                            .whatsapp,
                            .youtube {
                                background-size: 40px 40px;
                                background-repeat: no-repeat;
                            }

                        }
                    }


                }

                .box3 {
                    align-items: center;
                    text-align: center;

                }

                small {
                    color: #fff;
                    font-size: 10px;
                    font-weight: 500;
                }
            }


        }



    }

    .footer-line-1,
    .footer-line-2,
    .footer-line-3 {
        flex-direction: column;
        height: auto;
    }

    .footer-line-1 {
        .site {

           
        }
    }

    .footer-line-2 {
        .site {

            .line1,
            .line2 {
                flex-direction: column;
                align-items: center;

                div {
                    width: 100%;
                    margin: 10px 0;
                }
            }
        }
    }

    .footer-line-3 {
        .site {

            .box1,
            .box2,
            .box3 {
                width: 100%;
                float: none;
                margin: 10px auto;
            }

            .box2 {
                ul {
                    align-items: center;
                    width: 100%;
                    padding: 0;

                    li {
                        padding: 10px 0;
                    }
                }
            }
        }
    }


}