h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Noto Sans KR" sans-serif;
}


a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: rgb(217, 144, 0);
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    background: #132748;
    color: #fff;
    border-bottom: solid 1px #d99000;

    .site {
        display: flex;
        justify-content: space-between;

        h1 {
            width: 50px;
            height: 50px;
            background: url(../img/logo-ub-branco.png) no-repeat;
            background-size: 100% 100%;
            text-indent: -9999px;
            margin: 12px 0;
        }

        div {
            margin: 15px;
            width: 80%;

            nav ul {
                color: #132748;
                display: flex;
                justify-content: space-between;
                height: 55px;
                font-size: 20px;

                li {
                    margin: auto;
                }
            }
        }
    }
}
main {
    margin-top: 80px;
}
footer {
    .footer-line-1 {
        background: #132748;
        color: #fff;
        display: flex;
        height: 400px;

        .site {
            margin-top: 25px;
            height: 350px;

            .box1 {
                width: 400px;
                float: left;

                .logo-ub-footer {
                    width: 250px;
                    height: 250px;
                    background: url(../img/logo-ub-branco.png) no-repeat;
                    background-size: 100% 100%;
                    text-indent: -9999px;
                }

                h3 {
                    font-size: 50px;
                    font-weight: 600;
                }
            }

            .box2 {
                width: 750px;
                height: 400px;
                margin-top: 25px;
                float: right;
                display: flex;
                justify-content: space-around;

                div {
                    width: 185px;

                    
                        ul {
                            h5 {
                                font-size: 25px;
                            }
                            li{
                                margin-top: 10px;
                            }
                        }
                    
                }

                .mec {
                    margin-top: 220px;
                    margin-right: -120px;
                    flex-direction: row;

                    h4 {
                        font-size: 18px !important;
                    }


                }
            }
        }
    }

    .footer-line-2 {
        background: #fff;
        color: #132748;
        display: flex;
        justify-content: center;
        padding: 40px 0;

        .site {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 1200px;

            details {
                cursor: pointer;
            }

            .line1,
            .line2 {
                display: flex;
                justify-content: space-around;
                width: 100%;
                margin: 20px 0;

                div {
                    width: 185px;
                    margin: 0 10px;

                    
                        ul {
                            h5 {
                                font-size: 20px;
                            }
                            li{
                                font-size: 18px;
                                margin-top: 10px;
                            }
                        }
                    
                }
            }
        }
    }


    .footer-line-3 {
        background: #132748;
        height: 200px;

        .site {
            display: flex;

            .box1 {
                width: 200px;

                h5 {
                    background: url(../img/logo-ub-branco.png) no-repeat center center;
                    background-size: cover;
                    width: 100px;
                    height: 100px;
                    margin: 25px;
                }

                h6 {
                    width: 150px;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                }
            }

            .box2 {
                text-align: center;

                width: 700px;
                height: 170px;

                ul {
                    width: 700px;
                    display: flex;
                    justify-content: space-around;

                    li {
                        display: flex;
                        width: 50px;
                        height: 50px;
                        padding: 65px 0;

                        a {
                            min-width: 60px;
                            min-height: 60px;
                        }

                        .instagram {
                            background-image: url(../img/instagram.png);
                        }

                        .facebook {
                            background-image: url(../img/facebook.png);
                        }

                        .whatsapp {
                            background-image: url(../img/whatsapp.png);
                        }

                        .youtube {
                            background-image: url(../img/youtube.png);
                        }

                        li:hover,
                        a:hover {
                            min-width: 70px;
                            min-height: 70px;
                        }

                        .instagram:hover {
                            background-image: url(../img/instagramd.png);
                        }


                        .facebook:hover {
                            background-image: url(../img/facebookd.png);
                        }

                        .whatsapp:hover {
                            background-image: url(../img/whatsappd.png);
                        }

                        .youtube:hover {
                            background-image: url(../img/youtubed.png);
                        }

                    }
                }

                small {
                    color: #fff;
                    height: 20px;
                    font-size: 10px;
                    font-weight: 500;
                }
            }

            .box3 {
                width: 300px;
                justify-content: space-between;
                padding-top: 25px;

                div {
                    padding-left: 20px;

                    img {
                        padding-top: 10px;
                        max-width: 200px;
                        max-height: 100px;
                    }
                }
            }
        }
    }
}







@media (max-width:1024px) {


    header {
        width: 100%;

        & .site {

            h1 {
                margin: 12px auto;
            }

            & div {
                & nav ul {
                    li {
                        margin: auto;

                        a {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }


    footer {

        .footer-line-1 {
            .site {
                .box2 {
                    width: 620px;

                    div {
                        ul {
                            h5 {
                                font-size: 18px;
                            }
                            li{
                                margin-top: 10px;
                            }
                        }
                    }

                    .mec {
                        margin-top: 220px;
                        margin-right: 4px;
                        flex-direction: row;

                        h4 {
                            font-size: 18px;
                            margin-bottom: 8px;
                        }
                    


                    }
                }
            }
        }

       

        .footer-line-3{
            height: 201px;
            .site{
                align-items: center;
                .box2{
                    ul{
                        width: 500px;
                    }
                }

                .box3{
                    width: 325px;
                    padding-top: 25px;

                    summary::marker{
                        display: none;
                    }
                }
            }
        }
    }
}


@media (max-width:768px) {
}

@media (max-width:480px) {}