@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* 
    FONTES 
font-family: "Noto Sans KR" sans-serif;   links e depoimento de pessoas
font-family: "Noto Sans JP", sans-serif; textos títulos
font-family: "Open Sans", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "DM Sans", sans-serif;

    CORES
    
    Azul =  #132748
    Amarelo = #d99000
    Branco = #f3f3f3
*/
iframe {
    width: 100%;
}

body {
    font-family: "DM Sans", sans-serif;
}

h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Noto Sans KR" sans-serif;
}

.site {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #d99000;
}


main {

    section {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 20px;

        article {
            border: solid 1px #132748;
            border-radius: 20px;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            justify-content: space-between;


            .professor {
                display: flex;
                flex: 1;
                align-items: center;
                gap: 20px;
                padding: 5px;
                border-radius: 10px;
                flex-direction: column;


                img {
                    width: 300px;
                    height: 300px;
                    border-radius: 10px;
                }


                .professor-info {
                    h1 {
                        font-size: 26px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 18px;
                        margin-bottom: 20px;
                    }

                    .mais {
                        width: 100px;
                        height: 40px;
                        background: #132748;
                        color: #f3f3f3;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 0.3s;

                        &:hover {
                            color: #132748;
                            background: #f3f3f3;
                        }
                    }

                }
            }

            .disciplina {
                flex: 1;

                padding: 20px;
                border-radius: 10px;

                h3 {
                    font-size: 24px;
                    margin-bottom: 20px;
                    text-align: center;
                }

                .periodos {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;


                    .periodo {
                        background: #f3f3f3;
                        border-radius: 10px;
                        padding: 10px;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                        font-size: 20px;

                        h4 {
                            font-size: 20px;
                            margin-bottom: 10px;
                            text-align: center;
                        }


                    }
                }
            }
        }
    }
}

/* Responsividade */

@media (max-width:1024px) {

    main section .curriculo .professor .professor-info p {
        font-size: 20px;
    }

    main section .curriculo .disciplina .periodos .periodo h4 {
        font-size: 25px;
        font-weight: bolder;
    }

    main section .curriculo .disciplina .periodos .periodo ul li {
        font-size: 20px;
        line-height: 20px;

    }

}




@media (max-width: 768px) {
    main section .curriculo .professor img {
        max-width: 250px;
        max-height: 250px;
    }

    main section .curriculo .disciplina .periodos .periodo h4 {
        font-size: 20px;
        font-weight: bolder;
    }

    main section .curriculo .disciplina .periodos .periodo ul li {
        font-size: 20px;
        line-height: 20px;

    }
}



@media (max-width: 480px) {

    main section .curriculo .professor {
        padding: 10px;
    }

    main section .curriculo .professor img {
        width: 150px;
        height: 150px;
    }

    main section .curriculo .professor .professor-info h1 {
        font-size: 20px;
        font-weight: 600;
    }

    main section .curriculo .professor .professor-info p {
        font-size: 15px;
    }

    main section .curriculo .professor .professor-info .mais {
        font-size: small;
        width: 90px;
        height: 35px;
    }

    main section .curriculo .disciplina h3 {
        font-size: 25px;
    }

    main section .curriculo .disciplina .periodos .periodo {
        padding: 10px;
        font-family: "Open Sans", sans-serif;
    }

    main section .curriculo .disciplina .periodos .periodo h4 {
        font-size: 15px;
        font-weight: bolder;
    }

    main section .curriculo .disciplina .periodos .periodo ul li {
        font-size: 15px;
        line-height: 20px;

    }
}