@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* 
    FONTES 
font-family: "Noto Sans KR" sans-serif;   links e depoimento de pessoas
font-family: "Noto Sans JP", sans-serif; textos títulos
font-family: "Open Sans", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "DM Sans", sans-serif;

    CORES
    
    Azul =  #132748
    Amarelo = #d99000
    Branco = #f3f3f3
*/


body {
    font-family: "Montserrat", sans-serif;
}

.site {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #d99000;
    text-decoration: none;
}

main {
    margin: 10px;
    margin-top: 100px;
    li {
        text-align: center;
    }

    section {
        max-width: 1200px;
        margin: 0 auto;
        margin-bottom: 25px;

        article {
            border: solid 1px #132748;
            border-radius: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;



            .professor {
                margin-top: 10px;
                display: flex;
                flex: 1;
                align-items: center;
                gap: 20px;
                border-radius: 10px;
                flex-direction: column;



                img {
                    width: 300px;
                    height: 300px;
                    border-radius: 10px;
                }


                .professor-info {
                    h1 {
                        font-size: 26px;
                        margin-bottom: 6px;
                        margin-left: 170px;
                    }

                    p {
                        font-size: 17px;
                        margin-bottom: 10px;
                        line-height: 1.3;
                    }


                    .mais {
                        width: 100px;
                        height: 40px;
                        background: #132748;

                        color: #f3f3f3;

                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 0.3s;


                        &:hover {
                            color: #132748;

                            background: #f3f3f3;

                        }
                    }
                }
            }


            .disciplina {
                flex: 1;
                padding: 5px;
                border-radius: 10px;
                align-items: center;


                h3 {
                    font-size: 24px;
                    margin-bottom: 10px;
                    text-align: center;
                    
                }


                .periodos {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 320px;
                    margin-left: 130px;

                    .periodo {
                        background: #f3f3f3;
                        width: 300px;

                        border-radius: 10px;
                        padding: 10px;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                        font-size: 20px;

                        h4 {
                            font-size: 15;
                            margin-bottom: 5px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

footer {
    display: none;
}

@media (max-width:1024px) {

    main {
        section {
            max-width: 990px;
        }
    }

}

@media (max-width:768px) {

    main {
        section {
            max-width: 700px;
        }
    }

}

@media (max-width:480px) {

    header {
        .site {
            div {
                nav ul {
                    display: none;
                }
            }
        }
    }


    main {
        section {
            article {
                max-width: 300px;
                margin-left: 12px;
                height: 1500px;
                gap: 0px;

                .professor {
                    img {
                        width: 200px;
                        height: 200px;
                    }
                }

                .disciplina {
                    & .periodos {
                        & .periodo {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}